<h1>
    Depoimentos
</h1>

<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">João Gabriel <small>11/04/2023</small></h5>
        <div class="card-body">Mauris eget diam dolor. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra,
            per inceptos himenaeos. Phasellus mollis commodo metus, id malesuada metus malesuada vel. Nullam eu libero
            vel
            nisi facilisis faucibus ut sed enim. Nunc sed nunc leo. Vestibulum ante ipsum primis in faucibus orci luctus
            et
        </div>
    </div>
</section>

<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">Lucas Barros <small>11/04/2023</small></h5>
        <div class="card-body">Mauris eget diam dolor. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra,
            per inceptos himenaeos. Phasellus mollis commodo metus, id malesuada metus malesuada vel. Nullam eu libero
            vel
            nisi facilisis faucibus ut sed enim. Nunc sed nunc leo. Vestibulum ante ipsum primis in faucibus orci luctus
            et
        </div>
    </div>
</section>

<section id="form">

    <h3>Envie seu depoimento</h3>

    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>


        <div class="form-group">
            <label>Mensagem</label>
            <textarea class="form-control" name="mensagem" rows="5" required></textarea>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>


</section>